.MainPicture{
    position: absolute;
        top: 93px;
        right:1px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top:37%;
    height:0px;
}

.shown-pic{
    position: absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
    width:100%;
    height: auto;
    transform-origin: bottom center;
}

.hidden-pic{
    width:100%;
    height:auto;
    position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
    transform: rotate(180deg);
    transform-origin: bottom center;
}

.hidden-div{
    width: 100%;
    z-index:1;
    background-color: white;
    height: 500px;
}