.box {
    width: 100%;
    height: 586px;
}


.MainPicture{
    position: absolute;
        top: 0px;
        right:0px;
    width: 100%;
    overflow: hidden;
    height: inherit;
    border-bottom: solid 2px rgb(255, 233, 111);
    text-align: center;
}


.MainPicture:hover{
    cursor: pointer;
}

.shown-pic{
    object-fit: cover;
    object-position: bottom;
    position: absolute;
        top: calc(100% - 2000px);
        left: calc(50% - 1025px);
    width: 2000px;
    transform-origin: bottom center;
}

.hidden-pic{
    object-fit: cover;
    object-position: bottom;
    position: absolute;
        top: calc(100% - 2000px);
        left: calc(50% - 1025px);
    width: 2000px;
    transform: rotate(180deg);
    transform-origin: bottom center;
}

.hidden-div{
    width: 100%;
    z-index:1;
    background-color: white;
    height: 500px;
}

.title{
    position: absolute;
        top: 20%;
        left:0;
        right: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    text-align: center;
    z-index: 1;

}
.title-media{
    position: absolute;
        top: 20%;
        left:0;
        right: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    z-index: 1;

}

.page-start-recycle{
    position:relative;
    bottom: 100px;
    z-index: -3;
}

@media screen and (min-width: 450px) { 
    .title-media{
        display:none;
    }
}

@media screen and (max-width: 426px) {
    .title{
        display:none;
    }
}