.logo{
    float:left;
    margin-left: 5%;
}

.NavBar{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    position: fixed;
        right:0px;
        top: 0px;
    border-bottom: solid 2px rgb(255, 233, 111);
    height: 90px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    z-index: 2;
    background-color: white;
}

.logo-img{
    width: 75px;
    margin-top: 5px;
}

.right-nav{
    float:right;
    margin-right: 5%;
}

.menu-options{
    margin-left: 50px;
}

.menu-option:hover{
    color: rgb(255, 233, 111);
}

a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

table{
    width: 100%;
}

.right{
    width: 20%;
}

.left{
    width: 20%;
}

.center-nav {
    position: relative;
    right: 25px;
}

.left-mobile{
    width: 10%;
}

.right-mobile{
    width: 10%;
    font-size: 11px;
    position: relative;
        top: 5px;
        right: 10px;
}

.center-nav-mobile{
    font-size: 11px;
    position: relative;
        top: 10px;
}

.logo-img-mobile{
    width: 50px;
    padding-top: 10px;
    padding-left: 10px;
}

.menu-options-mobile{
    padding-bottom: 10px;
}


@media screen and (min-width: 710px) { 
    .logo-img-mobile{
        display: none;
    }

    .center-nav-mobile{
        display:none;
    }

    .right-mobile{
        display:none;
    }

    .left-mobile{
        display:none;
    }
}

@media screen and (max-width: 709px) {
    .logo-img{
        display:none;
    }

    .center-nav{
        display:none;
    }

    .right{
        display:none;
    }

    .left{
        display:none;
    }
}