.OurSolution{
    width: 100%;
    display: block;
}

#div1 {
    width: 125px;
    height: 70px;
    padding: 10px;
    position:relative;
        bottom: 275px;
        left: 175px;
    z-index:2;
  }

  #div2 {
    width: 125px;
    height: 125px;
    padding: 10px;
    /* border: 1px solid #aaaaaa; */
    position:relative;
        bottom: 250px;
        left: 175px;
    z-index:2;
    display:none;
  }

  #div3 {
    width: 125px;
    height: 200px;
    padding: 10px;
    /* border: 1px solid #aaaaaa; */
    position:relative;
        bottom: 300px;
        left: 175px;
    z-index:2;
    display:none;
  }

.dragImg{
    width:50px;
    z-index:2;
    position: relative;
        left:200px;
        top: 50px;
}

.cleanVid{
    display: inline;
    position: relative;
        bottom:50px;
    z-index:-1;
}

.shredVid{
    display:none;
}

.injectVid{
    display:none;
}

#clean-bottle{
    display:none;
}

#shredded-bottle{
    display:none;
}

#replay{
    display:none;
}